src/stepFunctions.json
{
  "Comment": "my workflow",
  "StartAt": "ReadEmailsTable",
  "States": {
    "ReadEmailTable": {
      "Type": "Task",
      "Resource": "${ReadEmailsTableFunction.Arn}",
      "Next": "LoopDynamoDb"
    },

    "LoopDynamoDb": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.EmailData[0]",
            "StringEquals": "DONE"
          },
          "Next": "DataToSpreadSheet"
        }
      ],
      "Default": "Succeed"
    },

    "DataToSpreadSheet": {
      "Type": "Task",
      "Resource": "${DataToSheetFunction.Arn}",
      "Next": "SendSpreadSheetToEmail"
    },

    "SendSpreadSheetToEmail": {
      "Type": "Task",
      "Resource": "${SendSpreadSheetToEmailFunction.Arn}",
      "Next": "WaitToNotOverload"
    },

    "WaitToNotOverload": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "PopElementFromList"
    },

    "PopElementFromList": {
      "Type": "Pass",
      "Parameters": {
        "EmailData.$": "$.EmailData[1:]"
      },
      "Next": "LoopDynamoDb"
    },

    "Succeed": {
      "Type": "Succeed"
    }
  }
}
